{% extends 'base.html' %}

{% comment %}
--------------------------------------------------------------------------------
DAI - Desarrollo de Aplicaciones para Internet
Grado en Ingeniería Informática (UGR)

Proyecto Final: Evita Controles

2015 - Ernesto Serrano <erseco@correo.ugr.es>
--------------------------------------------------------------------------------

Esta página muestra los créditos del proyecto

--------------------------------------------------------------------------------
{% endcomment %}

{% block title %}
Credits
{% endblock %}

{% block content %}

<div class="container">

<h2>Credits</h2>

<br />

<p>
	<strong>Evita Controles</strong> was developed for the course of <strong>DAI (Desarrollo de Aplicaciones para Internet)</strong> at the <a href="http://www.ugr.es" target="_blank"><abbr title="University of Granada">UGR</abbr></a> by the students:
</p>
	<ul>
		<li>Ernesto Serrano &lt;<a href="mailto:erseco@correo.ugr.es">erseco@correo.ugr.es</a>&gt;</li>
		<li>Jesus Gonzalez &lt;<a href="mailto:jesus@correo.ugr.es">jesus@correo.ugr.es</a>&gt;</li>
	</ul>
	<p>Under the supervision of:</p>
	<ul>
		<li>Sergio Alonso &lt;<a href="mailto:zerjioi@ugr.es">zerjioi@ugr.es</a>&gt;</li>
	</ul>
<br />

<p>
<strong>Evita Controles</strong> was developed using the next technologies, frameworks and libraries:
</p>
<div class="row">
  <div class="col-md-4">
	<h3>Technologies</h3>
	<ul>
	<li>HTML5</li>
	<li>CSS3</li>
	<li>Javascript</li>
	<li>JSON</li>
	<li>Python 3</li>
	<li>django 1.7.1</li>
	<li>Sqlite</li>
	</ul>


	<h3>Frameworks</h3>
	<ul>
	<li>Twitter Bootrsap</li>
	</ul>


	<h3>Libraries</h3>
	<ul>
	<li>Highchart.js</li>
	<li>Bootbox.js</li>
	<li>Validator.js</li>
	</ul>

</div>
  <div class="col-md-8">

  	<img src="/static/img/logo.png" alt="Evita Controles logo" />

  </div>
</div>

</div> <!-- container -->



{% endblock %}